*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

header{
    background-color: rgb(38, 2, 63);
    border-bottom: 1px solid violet
}

.nav-item{
    padding-left: 20px;
}

   .logo,.nav-item>a{
    text-decoration: none;
    color: whitesmoke;
}

.logo:hover{
    color: pink;
}

.nav-item>a:hover{
    color: white;
    text-decoration: 2px underline;
}


.Home_Page{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding-bottom: 4rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient( to right,indigo,rgb(55, 3, 55));
    background-image: url(./images/Animated\ bg.jpeg); 
}
.home-content button{
    width: 50%;
    filter: drop-shadow(4px 6px 10px rgb(3, 3, 40));

}

@media (max-width:678px) {
    .Home_Page{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
    }

    .home-content p{
        padding-left: 2rem;
        padding-right: 2rem;
        filter: drop-shadow(4px 6px 10px rgb(3, 3, 40));

    }

    .home-content button{
    display: block;
    width: 90%;
    margin: auto;
}


    
}


.hero-image>img{
    width: 80%;
    height: auto;
    margin: 2rem;
    border: 1px solid white; 
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    filter: grayscale(30%);
    opacity: 0.5;
    filter: drop-shadow(4px 6px 10px black);
}

.icon{
    width: 80%;
    height: 44px;
    margin: 2rem;
    filter: drop-shadow(4px 6px 10px black);


}

