*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

header{
    background-color: rgb(38, 2, 63);
    border-bottom: 1px solid violet
}

.nav-item{
    padding-left: 20px;
}

   .nav-item>a{
    text-decoration: none;
}


.nav-link:hover{
    text-decoration: 2px underline;
}


.Home_Page{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding-bottom: 4rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient( to right,indigo,rgb(55, 3, 55));
    background-image: url(https://www.gifstop.com/images/backgrounds/blackstar1.gif); 
}
.home-content button{
    width: 50%;
    color: rgba(245, 222, 179, 0.857);
}

.home-content p{
    color: rgba(245, 222, 179, 0.857);
}

.hero-image>img{
    width: 80%;
    height: auto;
    margin: 2rem;
    border: 1px solid white; 
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.icon{
    width: 80%;
    height: 44px;
    margin: 2rem;
}


/* Media Query */
@media (max-width:678px) {
    .Home_Page{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
    }

    .home-content p{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .home-content button{
    display: block;
    width: 90%;
    margin: auto;
}   
}




